.auth{
    padding: 10px 30px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth__username{
    text-align: center;
    padding: 10px 30px 10px 10px;
    font-size: 20px;
    color: rgb(228, 211, 211);
}
.auth__button{
    font-size: 18px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}
.auth__login-button{
    padding: 5px 10px 5px 5px;
    color: rgb(228, 211, 211);
    background-color: #332f28;
    border-right: 1px solid rgb(92, 84, 84);
    margin-right: 5px;
}
.auth__logout-button{
    padding: 5px;
    color: rgb(228, 211, 211);
    background-color: #2c2923;
    border-right: none;
}
.auth__register-button{
    padding: 5px;
    color: rgb(228, 211, 211);
    background-color: #2c2923;
    border-right: none;
}
.auth__button:hover{
    background-color: #4b463c;
}