.container{
  background-color: #3c4235;
  display: flex;
  padding: 10px;
  height: 100%;
}
.header{
  display: flex;
  justify-content: flex-end;
  height: 70px;
  background-color: #26231e;
}
.chess{
  margin: o auto;
  
}
.desk{
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}
.desk__row{
  display:flex;
}
.desk__figure{
  width: 100%;
  height: 100%;
  text-align: center;
}
.desk__figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}